doctype html
html
  head
    title='Sbergile talks'
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="/favicon.ico" rel="shortcut icon")
  body
    block content
