


@font-face {
  font-family: 'SB Sans Display';
  src: url('/fonts/SBSansDisplay-Semibold.eot');
  src: url('/fonts/SBSansDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/SBSansDisplay-Semibold.woff2') format('woff2'),
  url('/fonts/SBSansDisplay-Semibold.woff') format('woff'),
  url('/fonts/SBSansDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SB Sans Text';
  src: url('/fonts/SBSansText-Regular.eot');
  src: url('/fonts/SBSansText-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/SBSansText-Regular.woff2') format('woff2'),
  url('/fonts/SBSansText-Regular.woff') format('woff'),
  url('/fonts/SBSansText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SB Sans Display';
  src: url('/fonts/SBSansDisplay-Light.eot');
  src: url('/fonts/SBSansDisplay-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/SBSansDisplay-Light.woff2') format('woff2'),
  url('/fonts/SBSansDisplay-Light.woff') format('woff'),
  url('/fonts/SBSansDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
