input:focus{
    outline: none !important;
}
.regTitleImg{
    height: 10px;
}
.regBody{
    margin-top:30px
}
.regItemInput {
    font-size: 1.5em;

    border: navajowhite;
    padding-bottom: 7px;
    width: 100%;
    border-bottom: 1px solid black;
    transition: border-bottom-color .5s ease;
}
.regItemInput.err {

    border-bottom-color: red;
}
.regItem{
    margin-top:50px;
}
.sendBtn{
    margin-top:50px
}
#ballsWaveG{
    position:relative;
    width:125px;
    height:29px;
    margin:auto;
}
.formBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ballsWaveG{
    position:absolute;
    top:0;
    background-color:rgb(4,217,135);
    width:16px;
    height:16px;
    animation-name:ballsWaveG;
    -o-animation-name:ballsWaveG;
    -ms-animation-name:ballsWaveG;
    -webkit-animation-name:ballsWaveG;
    -moz-animation-name:ballsWaveG;
    animation-duration:0.975s;
    -o-animation-duration:0.975s;
    -ms-animation-duration:0.975s;
    -webkit-animation-duration:0.975s;
    -moz-animation-duration:0.975s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    border-radius:8px;
    -o-border-radius:8px;
    -ms-border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
}

#ballsWaveG_1{
    left:0;
    animation-delay:0.386s;
    -o-animation-delay:0.386s;
    -ms-animation-delay:0.386s;
    -webkit-animation-delay:0.386s;
    -moz-animation-delay:0.386s;
}

#ballsWaveG_2{
    left:16px;
    animation-delay:0.4825s;
    -o-animation-delay:0.4825s;
    -ms-animation-delay:0.4825s;
    -webkit-animation-delay:0.4825s;
    -moz-animation-delay:0.4825s;
}

#ballsWaveG_3{
    left:31px;
    animation-delay:0.589s;
    -o-animation-delay:0.589s;
    -ms-animation-delay:0.589s;
    -webkit-animation-delay:0.589s;
    -moz-animation-delay:0.589s;
}

#ballsWaveG_4{
    left:47px;
    animation-delay:0.6855s;
    -o-animation-delay:0.6855s;
    -ms-animation-delay:0.6855s;
    -webkit-animation-delay:0.6855s;
    -moz-animation-delay:0.6855s;
}

#ballsWaveG_5{
    left:62px;
    animation-delay:0.782s;
    -o-animation-delay:0.782s;
    -ms-animation-delay:0.782s;
    -webkit-animation-delay:0.782s;
    -moz-animation-delay:0.782s;
}

#ballsWaveG_6{
    left:78px;
    animation-delay:0.8785s;
    -o-animation-delay:0.8785s;
    -ms-animation-delay:0.8785s;
    -webkit-animation-delay:0.8785s;
    -moz-animation-delay:0.8785s;
}

#ballsWaveG_7{
    left:94px;
    animation-delay:0.975s;
    -o-animation-delay:0.975s;
    -ms-animation-delay:0.975s;
    -webkit-animation-delay:0.975s;
    -moz-animation-delay:0.975s;
}

#ballsWaveG_8{
    left:109px;
    animation-delay:1.0715s;
    -o-animation-delay:1.0715s;
    -ms-animation-delay:1.0715s;
    -webkit-animation-delay:1.0715s;
    -moz-animation-delay:1.0715s;
}



@keyframes ballsWaveG{
    0%{
        background-color:rgb(4,217,135);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes ballsWaveG{
    0%{
        background-color:rgb(4,217,135);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes ballsWaveG{
    0%{
        background-color:rgb(4,217,135);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes ballsWaveG{
    0%{
        background-color:rgb(4,217,135);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes ballsWaveG{
    0%{
        background-color:rgb(4,217,135);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}
.agreement{
    color:    #333f48;
    font-size: 8px;
    margin-top:16px;
}
.agreementLink{
    cursor: pointer;
    color:rgb(4,217,135)
}
.agreementText{
    margin-top:16px;
}
.agreementHeader{
    margin-left: 20px;
}
.regItemText{
    font-size: 1.5em;
    padding-bottom: 7px;
    border-bottom: 1px solid black;
    transition: border-bottom-color .5s ease;
    cursor: pointer;
    padding-left: 2em;
    position: relative;
}
.regItemText.active:before{
    content: "";
    width: 1em;
    height: .5em;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(-45deg);
    position: absolute;
    left: 5px;
    top: 5px;
}
.regItemText:after{
    content: "";
    width: 1.5em;
    height: calc(100% - 3px);
    border: 2px solid black;
    position: absolute;
    left: 0;
}